nav a,
li,
label,
input,
button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    font-size: 20px!important;
}

div #user{
    width: 150px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
}

hr{
    background-color: #b3c8fc;
}

label{
    margin-top: 10px;
}

.primary{
    margin-top: 90px!important;
    text-align: center;
}

nav{
    background-color: #D1ECFE;
}