nav a,
li,
label,
input,
button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    font-size: 20px!important;
}

div #user{
    width: 150px;
}

body #fundo {
    background: url(laridosos.png) no-repeat center top fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fundo{
    /*background-image: url("laridosos.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;*/
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
}

hr{
    background-color: #b3c8fc;
}

label{
    margin-top: 10px;
}

.primary{
    margin-top: 90px!important;
    text-align: center;
}
nav{
    background-color: #B4D1FF;
}

/*Testando mudança de cor no navbar*/
