body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 400px;
    height: 35px;
    border: 1px solid black;
    padding-left: 2em;
    border-radius: 18px;
    margin-top: 20px;
    font-size: 18px;
    box-shadow: 2px 2px 4px #afafaf;
}

#btn{
    width: 140px;
    height: 60px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px 1px;
    outline: none;
    color: white;
    border-radius: 14px;
    background-color: #0073C1;
    box-shadow: 2px 2px 4px #afafaf;
}

div a{
    align-items: flex-end;
}

/*div #user-image{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}*/

footer{
    margin-top: 20px;
    margin-bottom: 2px;
}
