@charset "utf-8";

.fundo{
    background-image: url('../idosos.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

form{
    background: #FFF;
    background: rgba(255,255,255,0.8);
    max-width: none;
    width: 300px;
    height: none;
    opacity: none;
}