@charset "utf-8";

*{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

title{
    display: none;
}

label{
    margin-top: 10px;
}

input,
select,
button{
    width: 200px;
}

#imagem,
button{
    margin-top: 70px;
}