p{
    font-size: large;
    font-weight: bold;
    color: #ff3845;
}
thead{
    background-color: #B4D1FF;
}
select{
    height: 48px;
    width: 110px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    border-color: #28A745;
    color: #28A745;
    font-weight: bold;
    border-style: solid;
}
.primary{
    margin-top: 70px!important;
}